.blogline {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: black;
  background: lightgrey;
}

.blog {
  color: black;
  background: lightgrey;
  width: max-content;
  min-width: 30vw;
  font-size: 1.2em;
  border-style: solid;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 5px;
}